* {
  box-sizing: border-box;
}

/*color palette*/

:root {
  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgb(0, 0, 0);
  --color-accent: rgb(246, 246, 246);
}
a {
  color: var(--color-primary);
  text-decoration: none;
}

.section--container {
  margin: 0 50px 0 50px;
  padding: 2rem 0 2rem 0;
}
.hideondesktop {
  display: none;
}

@media screen and (max-width: 1024px) {
  .section--container {
    margin: 0 15px 0 15px;
    padding: 1rem 0 1rem 0;
  }
}

/*Navbar*/

.navBar {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}

.navBar a {
  color: white;
}

.navBar__logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 3rem;
  margin-right: 1rem;
}
.navBar__signin {
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.371);
  border-right: none;
  padding-right: 3rem;
  padding-left: 1rem;
}
.navBar__signin p {
  width: 3rem;
}
.navBar__signin:hover {
  border-bottom: 4px solid white;
}
.navBar__signin img {
  position: relative;
  top: 0.5rem;
}
.navBar__listGroup {
  display: flex;
  margin: 0rem;
}
.navBar__listGroup__items {
  list-style: none;
  margin: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.336);
  padding: 0.6rem 1rem 0.6rem 1rem;
  font-weight: bold;
  font-size: 1rem;
}
.navBar__listGroup__items:hover {
  border-bottom: 4px solid yellow;
}
#more {
  border-right: 1px solid rgba(255, 255, 255, 0.371);
  padding-right: 4rem;
  position: relative;
}

#more img {
  position: absolute;
  right: 20px;
}
#more:hover {
  border-bottom: 4px solid red;
}
#home:hover {
  border-bottom: 4px solid blue;
}
#news:hover {
  border-bottom: 4px solid purple;
}
#sport:hover {
  border-bottom: 4px solid green;
}
#reel:hover {
  border-bottom: 4px solid brown;
}
.navBar__search {
  display: flex;
  padding: 0 0 0 3rem;
}
.navBar__search__img {
  position: relative;
  right: 1.9rem;
  top: 0.3rem;
}

@media screen and (max-width: 1124px) {
  .navBar {
    height: 33px;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
  }
  .navBar__logo {
    margin-left: 1rem;
    margin-right: 0;
    height: 95%;
    padding-right: 0.5rem;
  }
  .navBar__logo img {
    height: 25px;
  }
  .navBar__signin img {
    position: relative;
    top: 1px;
  }
  .navBar__signin,
  .navBar__signin p,
  .navBar__signin img {
    margin: 0;
    padding: 0;
  }
  .hide {
    display: none;
  }
  .navBar__listGroup__items {
    list-style: none;
    margin: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.336);
    font-size: 0.9rem;
    width: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .navBar__listGroup {
    padding: 0.4rem 0rem 0.4rem 0rem;
  }
  .navBar__search {
    padding: 0 0.5rem 0 0.5rem;
  }
  #more {
    padding-right: 5rem;
    position: relative;
  }
  #more img {
    position: absolute;
    right: 7px;
    bottom: 10px;
  }

  .navBar__search__img {
    position: relative;
    left: 1rem;
    top: 0.1rem;
  }
  .unhide {
    display: block;
  }
}

/* dropdown */

.dropdown {
  height: 55px;
  width: 100%;
  display: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  margin-left: 1rem;
}
.dropdown__heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  width: 19%;
  height: 40px;
  text-align: center;

  margin-top: 0.5rem;
}
.dropdown__menu {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 80%;
}

.dropdown__menu div {
  text-align: center;
  font-weight: 700;
  width: 200px;
  height: 30px;
  margin-top: 1rem;
  line-height: 30px;
}
.dropdown__menu .bars:hover {
  background-color: black;
  color: white;
}

.dropdown__menu a {
  color: inherit;
}

@media screen and (max-width: 1124px) {
  .dropdown {
    width: 99.5%;
  }
}

/* advert */
.advertmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  background-color: rgb(246, 246, 246);
}
.advertmobile {
  display: none;
}

.advertmain > p {
  font-size: 0.8rem;
  align-self: flex-end;
  margin-right: 12rem;
  margin-bottom: 0;
}
.advertmain .adv {
  align-self: center;
  margin-right: -10rem;
}

@media screen and (max-width: 1124px) {
  .advertdesktop {
    display: none;
  }
  .advertmobile {
    display: block;
  }
  .advertmain > p {
    margin-right: 7.5rem;
  }
  .advertmain .adv {
    align-self: flex-end;
    margin-right: 4rem;
    margin-bottom: 0;
  }
  .advertmain {
    margin-top: 2rem;
  }
}

/* Date section */
.d1 {
  font-size: 1.3rem;
  font-weight: bold;
}

.d2 {
  font-size: 1.3rem;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3.2rem 0 3.2rem;
}

/* welcome section */

.welcome {
  flex-wrap: wrap;
  color: var(--color-secondary);
}

.main--container {
  display: flex;
  position: relative;
  flex-direction: row;
}

.media__container1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url("../images/biden.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--color-primary);
  margin: 0rem 0 0rem 0;
  width: 50%;
}

.media__container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--color-primary);
  margin: 0 0 0 0;
  width: 50%;
  height: 22rem;
}

.media__container2 img {
  width: 100%;
  z-index: 0;
}
.media__container2 p {
  margin: 0 0.3rem 0.3rem 0.3rem;
  position: relative;
  top: -5rem;
}
.media__container2 .p3 {
  padding-left: 0.5rem;
}
.media2,
.media3 {
  height: 43%;
  width: 46%;
  margin: 0 10px 10px 10px;
}

.media4,
.media5 {
  height: 43%;
  width: 46%;
  margin: 10px 10px 10px 10px;
  background-color: gold;
}

.media__container1 p {
  margin: 0 0 0.5rem 1rem;
}
.media__container1 .p1 {
  font-size: 2rem;
}
.media__container1 .p3 {
  border-left: 4px solid red;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
.media__container2 .p3 {
  border-left: 4px solid red;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.media__container2 .p1 {
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .media__container1 {
    background-size: 100%;
    margin: 1rem 1rem 1rem 3rem;
    width: 100%;
    height: 15rem;
  }

  .media__container2 {
    display: flex;
    flex-direction: column;
    color: var(--color-secondary);
    margin: 0rem 1rem 0rem 3rem;
    flex-wrap: nowrap;
    width: 95%;
    background-color: violet;
  }

  .media2,
  .media3,
  .media4,
  .media5 {
    position: relative;
    top: 5.5rem;
    height: 100%;
    width: 95%;
    margin: 0.5rem 0 0 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.308);
  }

  .media__container1 .p2,
  .media2 img,
  .media3 img,
  .media4 img,
  .media5 img {
    display: none;
  }

  .media__container1 .p1 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .media__container1 .p3 {
    font-size: 0.9rem;
  }
  .media__container2 .p1 {
    font-size: 1rem;
  }
  .media__container2 .p3 {
    font-size: 0.8rem;
  }
}
/* ************************************************************ ****************************/
.welcomenew {
  color: var(--color-primary);
}
.welcomegeneralcontainer {
  display: flex;
}
.media__container1new {
  background: url(../images/biden.jpg) no-repeat center;
  background-size: cover;
  height: 22rem;
  width: 50%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.media__container2new {
  width: 50%;
  height: 22rem;
  display: flex;
  flex-direction: column;
}

.media__container2new .media--group1new {
  display: flex;
  flex-direction: row;
  height: 50%;
  margin-bottom: 1rem;
}
.media__container2new .media--group2new {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.media1new {
  background: url(../images/m5.jpg) no-repeat center;
  background-size: cover;
  margin-right: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.media2new {
  background: url(../images/m2.jpg) no-repeat center;
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.media-text1new {
  margin: 0 0 0.5rem 0;
  padding: 0 1rem 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.media-text2new {
  margin: 0 0 0.5rem 1rem;
  padding: 0 1rem 0 1rem;
  border-left: 4px solid green;
  /* background-color: yellowgreen; */
}
.p1new,
.p2new,
.p3new {
  margin: 0 0 0.5rem 0;
  padding: 0 1rem 0 1rem;
}
.p1new {
  font-size: 1.5rem;
  font-weight: bold;
}
.p2new {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.849);
}
.p3new {
  color: rgba(255, 255, 255, 0.801);
  border-left: 4px solid yellow;
  margin: 0 0 0.5rem 1rem;
}

@media screen and (max-width: 1024px) {
  .welcomegeneralcontainer {
    display: flex;
    flex-direction: column;
  }

  .media__container1new {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .media__container2new {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
  .media__container2new .media--group1new {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .media__container2new .media--group2new {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .media2new,
  .media1new {
    background-image: none;
    color: var(--color-secondary);
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  }
  .media-text2new {
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .media-text1new {
    margin-left: 0;
    padding-left: 0;
  }

  /* .media--group2new {
    display: flex;

    flex-direction: column;
    width: 100%;
  }
  .media1new,
  .media2new {
    display: flex;
    flex-direction: column;
    width: 100%;
  } */
}

/* ****************************************************************** */
/* News */
.news h3#media__title {
  margin-left: 50px;
}
.news .mediagroupandlongadvert {
  display: flex;
  flex-direction: row;
  margin: 0 50px 0 50px;
}
.news_media_group {
  display: flex;
  flex-direction: row;
}

.nm1to9 {
  width: 77%;
}

.news_media_group #nm2,
.news_media_group #nm3 {
  margin-left: 15px;
}

.nm .nmimage {
  width: 100%;
}

.news .longadvert {
  background-color: rgb(246, 246, 246);
  width: 33%;
  margin-left: 15px;
  padding-left: 50px;
  padding-top: 20px;
}
.advtext {
  text-align: end;
}

.news #stickyad {
  position: sticky;
  top: 0;
  width: 75%;
}

.nmmenulink {
  border-left: 3px solid red;
  padding-left: 5px;
}
@media screen and (max-width: 1024px) {
  .nm1to9 {
    width: 95%;
  }
  .news_media_group #nm2,
  .news_media_group #nm3 {
    margin-left: 0px;
  }
  .news .mediagroupandlongadvert {
    margin: 0 10px 0 10px;
  }
  .news h3#media__title {
    margin-left: 10px;
  }
}

/* weather */

.weather--forecasts .weather--forecast--list {
  display: flex;
  flex-direction: row;
}

.weather--forecasts .forecast {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .news .mediagroupandlongadvert {
    display: flex;
    flex-direction: column-reverse;
    /* background-color: red; */
  }

  .nm1to9 {
    display: flex;
    flex-direction: column;
  }

  .mediagroupandlongadvert .longadvert {
    width: 99%;
    /* background-color: gold; */
    margin: 1rem 50px 1rem 0;
    padding-bottom: 1rem;
    height: auto;
    display: none;
  }

  .news_media_group {
    display: flex;
    flex-direction: column;
  }
  .nmimage {
    display: none;
  }
}

/* Reel */

.reel {
  background-image: url(../images/reelmedia5.webp);
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-attachment: fixed;
  background-size: cover;
  margin: 5rem 0 5rem 0;
  color: var(--color-primary);
  height: 33rem;
  padding-top: 2rem;
  font-size: 1.3rem;
}

.reelheadings {
  margin: 1rem 4rem 0rem 4rem;
  /* background-color: blue; */
}

.reelheadingandbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  /* margin: 0rem 4rem 0rem 4rem; */
}

.reelbutton {
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--color-primary);
  border-radius: 2rem;
  outline: var(--color-primary);
  padding: 3px 1rem 3px 5px;
}

.reelmedia {
  display: flex;
  flex-direction: row;
  margin: 0rem 50px 0 50px;
}

div.reelmediaitem2,
div.reelmediaitem3 {
  margin-left: 1rem;
}

.reelmedia img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0rem;
}
.reelmediatext {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: left;
  line-height: 1.5;
  font-weight: bold;
  margin: 0rem;
}

@media screen and (max-width: 1024px) {
  .reel {
    display: flex;
    flex-direction: column;
    height: 72rem;
  }

  .reelheadings {
    margin: 0rem 10px 0rem 10px;
  }

  .reelmedia {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 95%;
    margin: 1rem 10px 1rem 10px;
    height: 70rem;
  }
  div.reelmediaitem,
  div.reelmediaitem2,
  div.reelmediaitem3 {
    margin-left: 0rem;
    margin-bottom: 2rem;
  }

  .reelmediatext {
    margin: 0rem;
  }

  .reelmedia img {
    width: 100%;
    height: auto;
    object-fit: fill;
    margin: 0rem;
  }
}

/* Africa news ************************************************/
.Africanews {
  margin: 5rem 50px 5rem 50px;
}

.Africanews #media__title2 {
  border-left: 4px solid yellow;
  padding-left: 5px;
  font-size: 1.5rem;
}

.Africanews img {
  width: 100%;
  object-fit: fill;
  margin: 0rem;
}
@media screen and (max-width: 1024px) {
  .Africanews {
    margin: 5rem 10px 5rem 10px;
  }
}

/* Editor's Picks ******************************************** */
.editorspicks {
  background-color: rgb(246, 246, 246);
}

.editorspicks #media__title {
  font-size: 1.5rem;
  border-left: 4px solid dodgerblue;
  padding-left: 5px;
}

.editorspicks .mediagroupandlongadvert {
  display: flex;
  flex-direction: row;
}

.editorspicks .nm1to9 {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.editorspicks .media__container1 {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  background-size: cover;
  margin: 0 0 1rem 0;
  padding: 0;
  height: 22rem;
}

.editorspicks .longadvert {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  color: var(--color-primary);
  width: 33%;
  font-weight: bold;
}

div.circle {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  line-height: 1rem;
  border-radius: 100%;
  background-color: red;
  color: var(--color-primary);
  text-align: center;
  padding: 1.5rem;
  font-style: italic;
  position: relative;
  top: -6px;
}

.sidebarheading {
  height: 40px;
  background-color: red;
  line-height: 40px;
  text-align: center;
}

.sidebars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 54, 54);
  padding: 1rem;
  height: 130px;
}
.sidebarstext {
  font-size: 1.5rem;
  padding: 0 1rem 1rem 1rem;
}

.editorspicks .sidebars:nth-child(2n) {
  background-color: black;
}

@media screen and (max-width: 1024px) {
  .editorspicks .mediagroupandlongadvert {
    display: flex;
    flex-direction: column;
  }
  .editorspicks .nm1to9 {
    width: 100%;
  }

  .editorspicks .longadvert {
    margin-left: 0;
    width: 100%;
  }
}

/* future planet ******************************************************/

.futureplanets {
  background-image: url(../images/trees.jpg);
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-attachment: fixed;
  background-size: cover;
  margin: 0 0 0 0;
  color: var(--color-primary);
  height: 33rem;
  padding-top: 2rem;
  padding-top: 1rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
  .futureplanets {
    height: 72rem;
  }
}

/* More around the BBC */
.morearoundbbc {
  padding: 1rem 0 1rem 0;
  /* background-color: red; */
  background-color: rgba(246, 246, 246, 0.349);
}

.morearoundbbc {
  margin-left: 0;
  margin-right: 0;
}

.section--container #media__title {
  margin-top: 0;
}

.morearoundbbc .longadvert {
  margin-left: 0;
  margin-right: 15px;
}
.morearoundbbc .media__container1 {
  height: 22rem;
}

.morearoundbbc .nm1to9 {
  margin-left: 15px;
  margin-right: 0;
  padding-right: 0;
}

.morearoundbbc div.circle {
  background-image: url(../images/author6.png);
  background-size: contain;
  top: 1rem;
}

.morearoundbbc .sidebars {
  display: flex;
  flex-direction: column;
}

.morearoundbbc div.circlesandsidebartexts {
  display: flex;
  flex-direction: row;
}

.morearoundbbc .sidebarstext {
  font-size: 1.5rem;
  font-weight: 200;
}

.morearoundbbc .sidebarstext2 {
  font-style: italic;
  margin: 0;
  position: relative;
  left: -2.5rem;
}

@media screen and (max-width: 1024px) {
  .morearoundbbc .nm1to9 {
    margin-left: 0px;
    margin-bottom: 1rem;
  }
}

/* Languages */

.languages {
  padding-top: 0.5rem;
  background-color: rgb(246, 246, 246);
}
.languagetitle a {
  color: var(--color-secondary);
  margin-bottom: 0;
  margin-top: 0;
}
.language-container {
  margin: 1rem 50px 0 50px;
  padding-bottom: 0.5rem;
}

.languages-content {
  display: flex;
}

.main-languages-content {
  display: flex;
  width: 40%;
}

.main-languages-content .language-group {
  width: 32.33%;
}

.more-languages-contentandheadings {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.language-group {
  display: flex;
  flex-direction: column;
}
.more-language-groupscolumns {
  display: flex;
}
.language--groups1,
.language--groups2 {
  display: flex;
}

.language-text {
  margin: 0 1rem 1rem 0;
}
.more-language-groupscolumns .language-group {
  margin-right: 1rem;
  font-size: 0.9rem;
}
.language-text {
  color: blue;
}
.language-text a {
  color: black;
  margin-right: 5px;
}
.language-text a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .languages-content {
    flex-direction: column;
  }
  .main-languages-content {
    width: 100%;
  }
  .more-languages-contentandheadings {
    width: 100%;
  }
  .language--groups1,
  .language--groups2 {
    flex-direction: column;
  }
  .language-container {
    margin: 1rem 10px 0 10px;
    /* padding-bottom: 0.5rem; */
  }
}

/* Explore the BBC */

.explorebbc {
  background-color: rgb(76, 76, 76);
  color: var(--color-primary);
}

.explore-bbc-content {
  margin: 0rem 50px 0rem 50px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.heading--items-dualgrouping {
  display: flex;
  flex-direction: row;
  width: 33.33%;
}
.heading-items {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(245, 245, 245, 0.466);
}
.heading-items-group {
  width: 50%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-right: 1px solid rgba(245, 245, 245, 0.466);
  font-weight: 700;
}
.g1 {
  margin-left: 0rem;
}
.heading-items-group p {
  margin-top: 0rem;
}
.heading-items-group .f1 {
  margin-bottom: 0rem;
}

.policies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.policy-items {
  margin: 0.5rem 1rem 0.3rem 0;
}
.copyright {
  margin: 0.5rem 0 0rem 0;
  padding-bottom: 0rem;
}
.copyright a {
  /* font-weight: 600; */
  color: gold;
  opacity: 0.8;
}
.copyright a:hover {
  opacity: 1;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .explore-bbc-content {
    margin: 0rem 10px 0rem 10px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  .heading--items-dualgrouping {
    flex-direction: column;
  }

  .heading-items-group {
    width: 100%;
  }
  .group2,
  .group3 {
    margin-left: 0.5rem;
  }

  .g2 {
    margin-left: 0;
  }
  .policies {
    margin-bottom: 1.5rem;
  }

  .heading-items-group {
    margin-left: 0rem;
  }
}
