<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="shortcut icon" href="./images/bbc favi2.png" type="image/x-icon">
    <title>BBC - MANOS</title>
    
</head>
<body>
  <section id="change" class="navBar">
    <div class="navBar__logo">
        <a href="#"><img src="./images/bbc logo black.png" width="85px" height="30px" alt="bbc logo"></a>
    </div>
    <div class="navBar__signin">
        <a href="#"><img src="./images/sign in icon.jpg" width="30px" height="35px" alt="Sign in icon"></a>
        <p class="hide"><a href="#">Sign in</a></p>  
    </div>
    <ul class="navBar__listGroup">
        <li id="home" class="navBar__listGroup__items"><a href="#">Home</a></li>
        <li id="news" class="navBar__listGroup__items"><a href="#">News</a></li>
        <li id="sport"class="navBar__listGroup__items"><a href="#">Sport</a></li>
        <li id="reel" class="navBar__listGroup__items"><a href="#">Reel</a></li>
        <li class="navBar__listGroup__items hide"><a href="#">WorkLife</a></li>
        <li class="navBar__listGroup__items hide"><a href="#">Travel</a></li>
        <li class="navBar__listGroup__items hide"><a href="#">Future</a></li>
        <li class="navBar__listGroup__items hide"><a href="#">Culture</a></li>
        <li id="more" class="navBar__listGroup__items collapsible collapsible--expanded">
          <a  href="#">
            More   
            <img onclick="myFunction()" class="collapsible__arrow" src="./images/dropdownicon3.png" width="15px" height="15px" alt="">
          </a>
        </li>
    </ul>
    <div class="navBar__search">
        <input class="hide" type="text" class="navBar__search__input" placeholder="Search">
        <a href="#">
          <img class="navBar__search__img hide"
           src="./images/searchicon.png"
           width="15px" 
           height="15px" 
           alt="search icon">
        </a>
        <a href="#">
          <img class="navBar__search__img unhide hideondesktop"
           src="./images/search 1.png"
           width="15px" 
           height="15px" 
           alt="search icon">
        </a>
    </div>
</section>




  

    <section class="welcomenew">
      <div class="section--container">

        <div class="welcomegeneralcontainer">

          <div class="media__container1new">
            <div class="p1new">Biden and Johnson meet ahead of G7 Summit</div>
            <div class="p2new">US President is in the UK for the global leaders' summit in Cornwall which officially starts on friday</div>
            <div class="p3new">UK POLITICS</div>
          </div>

          <div class="media__container2new">
          
            <div class="media--group1new">
              <div class="media1new">
                <p class="media-text1new">Nigeria demands social media firms get local permits</p>
                <p class="media-text2new">AFRICA</p>
              </div>
              <div class="media2new">
                <p class="media-text1new">Over 350,000 Ethopians in famine conditions - UN</p>
                <p class="media-text1new">AFRICA</p>
              </div>
            </div>
            <div class="media--group2new">
              <div class="media1new">
                <p class="media-text1new">Nigeria demands social media firms get local permits</p>
                <p class="media-text2new">AFRICA</p>
              </div>
              <div class="media2new">
                <p class="media-text1new">Over 350,000 Ethopians in famine conditions - UN</p>
                <p class="media-text1new">AFRICA</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </section>

    <section class="morearoundbbc editorspicks">

      <div class="section--container">
        <h3 id="media__title">More around the BBC </h3>
        
        <div class="mediagroupandlongadvert">
          <div class="longadvert">
            <div class="sidebarheading">FROM OUR CORRESPONDENTS</div>
            <div class="sidebars">
              <div class="circlesandsidebartexts">
                <div class="circle"></div>
                <div class="sidebarstext">Whatsapp launches privacy campaign after backlash</div>
              </div>
              <div class="sidebarstext2">By Zoe Kleinman</div>
            </div>
            <div class="sidebars">
              <div class="circlesandsidebartexts">
                <div class="circle"></div>
                <div class="sidebarstext">Has this been a G7 summit that mattered?</div>
              </div>
              <div class="sidebarstext2">By James Galagher</div>
            </div>
            <div class="sidebars">
              <div class="circlesandsidebartexts">
                <div class="circle"></div>
                <div class="sidebarstext">How do i get better at javascript and React?</div>
              </div>
              <div class="sidebarstext2">By Manos Akpujiha</div>
            </div>
        
            <div class="sidebars">
              <div class="circlesandsidebartexts">
                <div class="circle"></div>
                <div class="sidebarstext">How do i get better at javascript and React?</div>
              </div>
              <div class="sidebarstext2">By Manos Akpujiha</div>
            </div>
        
            <div class="sidebars">
              <div class="circlesandsidebartexts">
                <div class="circle"></div>
                <div class="sidebarstext">How do i get better at javascript and React?</div>
              </div>
              <div class="sidebarstext2">By Manos Akpujiha</div>
            </div>
            <div class="sidebars">
              <div class="circlesandsidebartexts">
                <div class="circle"></div>
                <div class="sidebarstext">How do i get better at javascript and React?</div>
              </div>
              <div class="sidebarstext2">By Manos Akpujiha</div>
            </div>
            <div class="sidebars">
              <div class="circlesandsidebartexts">
                <div class="circle"></div>
                <div class="sidebarstext">How do i get better at javascript and React?</div>
              </div>
              <div class="sidebarstext2">By Manos Akpujiha</div>
            </div>
            <div class="sidebars">
              <div class="circlesandsidebartexts">
                <div class="circle"></div>
                <div class="sidebarstext">How do i get better at javascript and React?</div>
              </div>
              <div class="sidebarstext2">By Manos Akpujiha</div>
            </div>
        
          </div>
          <div class="nm1to9">
            <div class="media__container1">
              <p class="p1">Biden and Johnson meet ahead of G7 Summit</p>
              <p class="p2">US President is in the UK for the global leaders' summit in Cornwall which officially starts on friday. Lorem ipsum dolor sit amet.</p>
              <p class="p3">UK POLITICS</p>
            </div>
            <div class="news_media_group">
              <div id="nm1" class="nm">
                <img class="nmimage" src="./images/Nm1.jpg" width="260px" height="150px" alt="picture">
                <h3 class="nmtopic">G7 to agree tough measures on burning coal</h3>
                <p class="nmsummary">It comes as Sir David Attenborough warns humans may be about to destabilise the entire planet. Lorem ipsum dolor sit amet.</p>
                <p class="nmmenulink">UK POLITICS</p>
              </div>
              <div id="nm2" class="nm">
                <img class="nmimage" src="./images/Nm2.jpg" width="260px" height="150px" alt="picture">
                <h3 class="nmtopic">China to G7: Small groups do not rule the world</h3>
                <p class="nmsummary">The G7 leaders, who are meeting in England, have sought a unified position over China's rise.</p>
                <p class="nmmenulink">CHINA</p>
              </div>
              <div id="nm3" class="nm">
                <img class="nmimage" src="./images/Nm4.jpg" width="260px" height="150px" alt="picture">
                <h3 class="nmtopic">Eriksen 'awake' after collapsing</h3>
                <p class="nmsummary">Denmark midfielder Christian Eriksen is "awake" in hospital after collapsing during the Euro 2020 match against Finland, say the Danish Football Association.</p>
                <p class="nmmenulink" >FOOTBALL</p>
              </div>
            </div>
            <div class="news_media_group">
              <div id="nm1" class="nm">
                <img class="nmimage" src="./images/Nm1.jpg" width="260px" height="150px" alt="picture">
                <h3 class="nmtopic">G7 to agree tough measures on burning coal</h3>
                <p class="nmsummary">It comes as Sir David Attenborough warns humans may be about to destabilise the entire planet. Lorem ipsum dolor sit amet.</p>
                <p class="nmmenulink">UK POLITICS</p>
              </div>
              <div id="nm2" class="nm">
                <img class="nmimage" src="./images/Nm2.jpg" width="260px" height="150px" alt="picture">
                <h3 class="nmtopic">China to G7: Small groups do not rule the world</h3>
                <p class="nmsummary">The G7 leaders, who are meeting in England, have sought a unified position over China's rise.</p>
                <p class="nmmenulink">CHINA</p>
              </div>
              <div id="nm3" class="nm">
                <img class="nmimage" src="./images/Nm4.jpg" width="260px" height="150px" alt="picture">
                <h3 class="nmtopic">Eriksen 'awake' after collapsing</h3>
                <p class="nmsummary">Denmark midfielder Christian Eriksen is "awake" in hospital after collapsing during the Euro 2020 match against Finland, say the Danish Football Association.</p>
                <p class="nmmenulink" >FOOTBALL</p>
              </div>
            </div>
        
          </div>
        
        </div>
      </div>

    </section>

    <section class="languages">
      <div class="language-container">
        <h2 class="languagetitle"><a href="#">BBC IN OTHER LANGUAGES</a></h2>
        <div class="languages-content">
          <div class="main-languages-content">
            <div class="language-group">
              <h3 class="language-head">Arabic</h3>
              <p class="language-text">يف استقبل زعماء العالم الحكومة الإسرائيلية الجديدة؟</p>
            </div>
            <div class="language-group">
              <h3 class="language-head">Swahili</h3>
              <p class="language-text"> Nato yasema China ni 'moto wa kuotea mbali'</p>
            </div>
            <div class="language-group">
              <h3 class="language-head">Somali</h3>
              <p class="language-text">Maxaa la isugu khilaafay filimka ku saabsan xasuuqii masaajidka New Zealand? </p>
            </div>
          </div>
          <div class="more-languages-contentandheadings">
            <h3 class="more-languages-head">More Languages</h3>
            <div class="more-language-groupscolumns">
              <div class="language-group">
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
              </div>
              <div class="language-group">
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
              </div>
              <div class="language-group">
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
              </div>
              <div class="language-group">
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
                <div class="language-text"><a href="">Kinyyarwanda</a> GAHUZA</div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </section>
    <section class="explorebbc">
      <div class="explore-bbc-content">
        <h2 class="explore-heading">Explore the BBC</h2>
        <div class="heading-items">
          <div class="heading-items-group">
            <p>Home</p>
            <p>Future</p>
          </div>
          <div class="heading-items-group">
            <p>News</p>
            <p>Culture</p>
          </div>
          <div class="heading-items-group">
            <p>Sport</p>
            <p>Music</p>
          </div>
          <div class="heading-items-group">
            <p>Reel</p>
            <p>TV</p>
          </div>
          <div class="heading-items-group">
            <p>Worklife</p>
            <p>Weather</p>
          </div>
          <div class="heading-items-group">
            <p>Travel</p>
            <p>Sounds</p>
          </div>
        </div>
        <hr>
        <div class="policies">
          <div class="policy-items"><a href="#">Terms of Use</a></div>
          <div class="policy-items"><a href="#">About the BBC</a></div>
          <div class="policy-items"><a href="#">Privacy Policy</a></div>
          <div class="policy-items"><a href="#">Cookies</a></div>
          <div class="policy-items"><a href="#">Accessibility Help</a></div>
          <div class="policy-items"><a href="#">Parental Guidance</a></div>
          <div class="policy-items"><a href="#">Contact the BBC</a></div>
          <div class="policy-items"><a href="#">Get Personalised Newsletters</a></div>
          <div class="policy-items"><a href="#">Advertise with us</a></div>
          <div class="policy-items"><a href="#">AdChoices / Do Not Sell My Info</a></div>
        </div>
        <div class="copyright"><span>Copyright © 2021 BBC.</span> The BBC is not responsible for the content of external sites. <span><a href="#">Read about our approach to external linking.</a></span>
        </div>
      </div>



    </section>
    
    
    <br>
    <br>
    
    

  <script async src="./javascript/javascript.js"></script>
</body>
</html>