<div class="weather--content"> 
    <div class="weather"> 
      <div class="weather--head"> 
      <div class="weather--location"> 
        <h2>Lagos Weather</h2> 
        <a class="weather--edit" role="link" href="#">Close</a> 
      </div> <form class="weather--form" action="/wwhp" style="display: block;"> 
    <div class="weather--form--search"> 
      <input class="weather--form--input" placeholder="Enter city, town or region" name="location_term" autocomplete="off"> 
      <button class="weather--form--submit" type="submit" value=""> 
        <span class="icon icon--search"></span> 
      </button> 
    </div> 
  </form> <p class="weather--error" style="display: none;"></p> 
  <ul class="weather--results"></ul> 
    </div> 
<div class="weather--forecasts"> 
  <ul class="weather--forecast--list">  
    <li class="forecast--1 forecast"> 
      
        <img class="forecast--image" 
        src="" > 
        <h3 class="forecast--day">Sun</h3>
          <p class="forecast--high">31°C</p>  
          <p class="forecast--low">23°C</p> 
       
      </li>  
      <li class="forecast--2 forecast"> 
        <a class="forecast--link" href="/weather/2332459?day=1" rev="weather|link"> 
          <img class="forecast--image" 
          src="https://static.bbci.co.uk/weather/0.5.284/images/icons/individual_56_icons/en_on_light_bg/29.gif" 
          alt="Thundery Showers"> 
          <h3 class="forecast--day">Mon</h3>  
          <p class="forecast--high">32°C</p>  
          <p class="forecast--low">23°C</p> 
        </a> 
      </li>  
      <li class="forecast--3 forecast"> 
        <a class="forecast--link" href="/weather/2332459?day=2" rev="weather|link"> 
          <img class="forecast--image" 
          src="https://static.bbci.co.uk/weather/0.5.284/images/icons/individual_56_icons/en_on_light_bg/3.gif" 
          alt="Sunny Intervals"> 
          <h3 class="forecast--day">Tue</h3>  
          <p class="forecast--high">31°C</p>  
          <p class="forecast--low">23°C</p> 
        </a> </li>  
        <li class="forecast--4 forecast"> 
          <a class="forecast--link" 
          href="/weather/2332459?day=3" rev="weather|link"> 
          <img class="forecast--image" 
          src="https://static.bbci.co.uk/weather/0.5.284/images/icons/individual_56_icons/en_on_light_bg/10.gif" 
          alt="Light Rain Showers"> 
          <h3 class="forecast--day">Wed</h3>  
          <p class="forecast--high">30°C</p>  
          <p class="forecast--low">24°C</p> 
        </a> 
      </li>  
    </ul> 
  </div> 
</div> 
</div> 