<section class="welcomenew">
    <div class="section--container">
      <div class="media__container1new">
        <div class="p1new">Biden and Johnson meet ahead of G7 Summit</div>
        <div class="p2new">US President is in the UK for the global leaders' summit in Cornwall which officially starts on friday</div>
        <div class="p3new">UK POLITICS</div>
      </div>
      <div class="media__container2new">
        <div class="media--groupnew">
          <div class="media1new">
            <p class="media-text1new">Nigeria demands social media firms get local permits</p>
            <p class="media-text2new">AFRICA</p>
          </div>
          <div class="media2new">
            <p class="media-text1new">Over 350,000 Ethopians in famine conditions - UN</p>
            <p class="media-text1new">AFRICA</p>
          </div>
        </div>
        <div class="media--groupnew">
          <div class="media1new">
            <p class="media-text1new">Nigeria demands social media firms get local permits</p>
            <p class="media-text2new">AFRICA</p>
          </div>
          <div class="media2new">
            <p class="media-text1new">Over 350,000 Ethopians in famine conditions - UN</p>
            <p class="media-text1new">AFRICA</p>
          </div>
        </div>
      </div>
    </div>
    
  </section>